
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: "Geometria";
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

.header {
    width: 100%;
    margin-top: 84px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.novigation {
    display: flex;
    justify-content: space-between;
    font-size: 16px;

    color: #8B7EAC
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(Img/intro.png) top center no-repeat;
    background-size: cover;
}



.intro-text {
    display: flex;
    flex-direction: column;
    width: 70%;
    
    text-align: center;
    
    font-family: "Caveat";
    font-style: normal;
    font-weight: normal;
    font-size: 45px;  


    
    color: #8E80A9;
}

.container {
    text-align: center;
    width: 100%;
    height: 530px;
}

.intro-them {
    font-size: 265px;
    letter-spacing: 155px;

    color: #FFFFFF;

    margin: 0 auto;

    text-shadow: 0px 4px 50px rgba(131, 115, 161, 0.6);
}

.container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    margin: 0 auto;
}


.button {
    box-sizing: border-box;
    border: none;
    width: 56px;
    height: 48px;
    padding: 0;
    margin-right: 13px;

    color: #fff;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    background-color: #E65C7B;
}

.container-button-text {
    width: 100%;
    max-width: 220px;
    color: #E65C7B;
    font-weight: bold;
}